body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C591E;
  background-image: url("golfball.png"), url("golfclub.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left center, right center;
}

.home{
  display: flex;
  flex-direction: column;
}

.coursebox{
  display: none;

  h5{
    text-align: center;
  }
}

.courses{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .course{
    margin: 10px;
    background-color: #dadfea;

    img{
      width: 480px;
      height: 360px;
    }

    .cardbottom{
      display: flex;
      justify-content: space-between;

      .name{
        margin-bottom: 5px;
      }
    }
  }
}

.coursemain{
  display: none;
}

.courseinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dadfea;
  border: 1px solid #000000;
  position: relative;

  h2, h4{
    margin: 0;
  }
  h6{
    margin-top: 0;
  }
  .input{
    position: absolute;
    left: 10px;
    bottom: 0;
  }
}

.titlebox{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title{
    text-align: center;
    border: 1px solid #000000;
    height: 25px;
    width: 150px;
  }
}

.scorebox{
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  background-color: #dadfea;

  .scorecard{
    display: flex;
    width: 100%;

    .hole, .par{
      text-align: center;
      border: 1px solid #000000;
      height: 25px;
      width: 50px;
    }

    .totalbox{
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      border: 1px solid #000000;

      .total{
        text-align: center;
        border: 1px solid #000000;
        height: 25px;
        width: 50px;
      }
    }
  }
}

.playerbox{
  background-color: #dadfea;
  display: flex;

  .namebox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .input{
      margin-left: 5px;
    }

    .player{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 25px;
    }
  }
}

.out{
  display: flex;
}

.holescore {
  border: 1px solid #000000;
  height: 25px;
  width: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hcpyardbox{
  display: flex;

  .par{
    text-align: center;
    border: 1px solid #000000;
    height: 25px;
    width: 50px;
  }
}

.totalbox{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #000000;

  .total{
    text-align: center;
    border: 1px solid #000000;
    height: 25px;
    width: 50px;
  }
}