body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C591E;
}

.courses{
  display: flex;
  flex-direction: column;

  .course{
    margin: 10px;
    background-color: #dadfea;

    .cardbottom{
      display: flex;
      justify-content: space-between;
    }
  }
}

